@page "/"

<PageTitle>Index</PageTitle>
<h1>Welcome to Perrine Boyz App</h1>
<AuthorizeView>
    <Authorized>
        Look around and have fun!
    </Authorized>
    <NotAuthorized>
        Please <a href="/login">login</a> to continue.
    </NotAuthorized>
</AuthorizeView>