@page "/"

<PageTitle>Index</PageTitle>
<h1>Hello, world!</h1>
<AuthorizeView>
    <Authorized>
        Welcome to your new app.
    </Authorized>
    <NotAuthorized>
        Please <a href="/login">login</a> to continue.
    </NotAuthorized>
</AuthorizeView>