@page "/login"
@using PerrineApp.Models

<div class="back">
    <div class="div-center">
        <div class="content">
            <h3>Login</h3>
            <hr />
            <EditForm Model="@Model">
                <div class="mb-3">
                    <label for="inputUserName" class="form-label">Enter Username: </label>
                    <InputText id="inputUserName" class="form-control" @bind-Value=@Model.Username></InputText>
                </div>

                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Enter Password: </label>
                    <InputText type="password" id="inputPassword" class="form-control" @bind-Value=@Model.Password></InputText>
                </div>

                <button type="submit" class="btn btn-primary" @onclick="async () => await LogInAsync()">Submit</button>
            </EditForm>
        </div>
    </div>
</div>
