@inherits LayoutComponentBase

<PageTitle>PerrineApp</PageTitle>

<NavBar />
<div class="d-flex flex-row">
    <NavMenu />
    <div class="m-3 w-100">
        @Body
    </div>
</div>

<BlazoredToasts />