@inherits LayoutComponentBase

<PageTitle>PerrineApp</PageTitle>

<NavBar />
<div class="d-flex flex-row">
    <NavMenu />
    <div class="p-3 w-100" style="background-color: whitesmoke;">
        @Body
    </div>
</div>

<BlazoredToasts />