@using PerrineApp.Services
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="#">PerrineBoyz</a>
        <div class="me-4">
            <AuthorizeView>
                <Authorized>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="height: 50px;">
                            <li class="nav-item dropdown" style="padding-top: 0!important;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Add
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/announcement/new"><i class="fa-solid fa-bullhorn me-1"></i>Announcement</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-calendar-days me-1"></i>Event</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled">Welcome @context.User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/" @onclick="async () => await LogOutAsync()">Logout</a>
                            </li>
                        </ul>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <span class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </span>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</nav>

@code {
    [Inject]
    public AuthenticationStateProvider? AuthStateProvider { get; set; }

    [Inject]
    public NavigationManager? NavigationManager { get; set; }

    public async Task LogOutAsync() => await ((CustomAuthenticationStateProvider)AuthStateProvider).LogOutAsync();
}