@using PerrineApp.Services
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh;">
    <AuthorizeView>
        <Authorized>
            <div>
                @* <img class="rounded-circle me-2" style="height: 50px; width: 50px;" src="/images/profile/@context.User.Claims.Where(c => c.Type == "picture").FirstOrDefault().Value.ToString()" /> *@
                <span>Welcome @context.User.Identity.Name</span>
                <hr>
            </div>
        </Authorized>
    </AuthorizeView>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <NavLink href="/" class="nav-link text-white" Match="NavLinkMatch.All"><span><i class="fa-solid fa-house me-1"></i>Home</span></NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <NavLink href="/events" class="nav-link text-white"><span><i class="fa-solid fa-calendar me-1"></i>Events</span></NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/posts" class="nav-link text-white"><span><i class="fa-solid fa-envelope me-1"></i>Posts</span></NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/mustang" class="nav-link text-white"><span><i class="fa-solid fa-car me-1"></i>Mustang</span></NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>